.search-and-create {
    display: flex;
    justify-content: space-between;
}

.search-goal {
    display: flex;
    gap: 5px;
    justify-content: start;
    align-content: center;
}

.search-goal mat-form-field {
    font-size: 10px;
}

.search-button button {
    margin-top: 3px;
    font-size: 0.8rem;
    color: white;
    background-color: #3f51bf;
}

.card{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.desc {
    font-size: 12px;
    margin: 0;
}

.goal-name {
    margin: 0;
}

.percent{
    margin: 0;
}